.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: 0; }

body {
  font: 16px/22px Pontano,Helvetica,Arial,sans-serif;
  color: $gris; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase; 
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #50c5ab; 
}

h3 {
  font-size: 1.4em;
 }

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
  font-style: italic; }

h6 {
  font-size: .7em;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  line-height: 1.3em; }

p {
  margin: 0 0 1.7em 0; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  color: #50c5ab;
  text-decoration: none;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear; }

a:hover {
  text-decoration: underline; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0;
  padding: 0; }

pre {
  padding: 2em;
  background: #f6f6f8; }

table {
  width: 100%; }

table th {
  background: #f6f6f8;
  padding: .5em;
  border-right: .0625rem solid white; }

table td {
  border-bottom: solid .0625rem #bdbdcb;
  padding: .5em; }

blockquote {
  font-style: italic;
  margin: 0;
  color: #babfcd;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 1em 0; }

hr {
  content: " ";
  display: block;
  width: 4em;
  height: .0625rem;
  border: 0;
  border-top: solid .0625rem #f6f6f8;
  margin: 2em 0;
  clear: both; }

hr.center {
  margin-left: auto;
  margin-right: auto; 
}

.text-center {
  text-align:center;
}