/* Estilos generales*/
@import "_variables.scss";
@import "_general.scss";


.fl{float:left}
.fr{float:right}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
.cols{text-align:left}
.cols .col2{float:left;width:48%;margin-right:4%;margin-bottom:3em}
.cols .col2:nth-child(2n){margin-right:0}
.cols .col2:nth-child(2n+3){clear:left}
.cols .col3{float:left;width:30%;margin-right:5%;margin-bottom:3em}
.cols .col3:nth-child(3n){margin-right:0}
.cols .col3:nth-child(3n+4){clear:left}
.cols .col3x2{float:right;width:65%;clear:right;margin-bottom:3em}
.cols .col4{float:left;width:21.25%;margin-right:5%;margin-bottom:3em}
.cols .col4:nth-child(4n){margin-right:0}
.cols .col4:nth-child(4n+5){clear:left}
.cols:before,.cols:after{content:" ";display:table}
.cols:after{clear:both}
.cols{*zoom:1}
.alignleft{float:left;margin:0 1em .5em 0;max-width:50%}
.alignright{float:right;margin:0 0 .5em 1em;max-width:50%}
.aligncenter{display:block;margin:1.5em auto;}


.detalle-servicio{ display:table; margin-bottom:3em;
	.text{ display:table-cell; vertical-align:top; }
	.icono { width:12rem; display:table-cell; vertical-align:top;
		.icono-servicio { margin: 1rem 40px; }
	}
	ul { margin: 0; padding: 0;
		li { list-style: square; margin-bottom:1rem; }
	}
 }


.container{ width:100%;max-width:75rem;margin-left:auto;margin-right:auto}

#main-header { 
	background:#201f1f url(../img/bk_menu.jpg) repeat-x top center ; 
	border-bottom: 1px solid rgba(216,216,216,.8);
	box-shadow:-9px 5px 9px rgba(2,2,2,.3);
	display:table; 
	position:fixed; 
	top:0; 
	width: 100%; 
	z-index: 100; 
	.header-cont { box-sizing:border-box; margin:auto; max-width: 75rem; padding: 0 1rem; 
	}
}


#content-area {clear:both; margin-top:5rem; }

#main-header .menu-trigger{ display:none }
.logo-header{ display:table-cell; /*width:27%;*/ padding:1rem 0;
	.logo {margin:0;display:block; font-size:2.5em;line-height:1.2em;
		img { width: 240px; }
	 }
	.slogan{ display:none; font-size:.7em;text-align:center;text-transform:uppercase;line-height:1.2em;
	}
	&:hover{text-decoration:none;
	}
}


/* Menu */
#main-menu {display:table-cell; width:80%; text-align:right; vertical-align:middle; line-height:1.3em;
	ul {margin:0;padding:0;list-style:none;background:0;
		li{ display:inline-block; font: 1rem Dosis, Arial; text-transform: uppercase;
			.featured a {background:#50c5ab;color:#fff;
				&:hover{background:#329780;
				}
			}
		}
		li a { color:#FFF; padding:.5em 1.5em; background:transparent;-webkit-border-radius:8em;-moz-border-radius:10em; -ms-border-radius:10em;-o-border-radius:10em; border-radius:10em; display:block;
			&:hover, &.active { background:#383636; color:#e99935; text-decoration:none;
			}
		}
	}
}

#main-footer{border-top:solid .125rem #282f40}

.footer-call-to-action{
	text-align:center; background:#282f40; color:#fff; padding:2rem 0.5rem; overflow: hidden;

	.contact { text-align:left; margin:auto; max-width:75rem; overflow: hidden; line-height: 1.5rem;
		h3 { color: $color-titulos; font:1.2rem/1.1rem Dosis, Arial; text-transform: uppercase; margin-bottom: 0.5rem;
		}
	}
}

#bottom-footer {display:table; }
#bottom-footer .copyright,#bottom-footer #footer-menu,#bottom-footer .planb{display:table-cell;width:50%;padding:1.5em 0}
#bottom-footer .planb { color:#999; text-align: right;}

#footer-menu{ text-align:right; float: right; margin:-1rem 0 1rem; }
#footer-menu ul,#footer-menu li{margin:0;padding:0;list-style:none;background:0}
#footer-menu ul li{display:inline-block}
#footer-menu ul li::before{/*content:"/";*/padding:0 .7em}
#footer-menu ul li a{color:#7e89a3; padding: 0.5em 1.5em; text-decoration: none;}
#footer-menu ul li a:hover,#footer-menu ul li a.active { background:#1d252d; border-radius: 10em; color:#e99935; }


.flexslider {
	position: relative;
	.intro { 
		background:rgba(0,0,0,.5); 
		padding: 1.5rem; 
		width:30%;
		position: absolute;
		left: 50%;
		bottom: 10%;
		z-index: 80;
		p {
			font:2.1rem/2.2rem Dosis, Arial; 
		}
	}
}

.intro_inf { display: none;}

.container-live {overflow: hidden; line-height: 0; border-bottom:1px solid #999; }


#testimonios-area{background:#CCC;color:#fff;/*padding:4em 0 4em 0;*/position:relative}
#testimonios-area .container{padding:0 6em}
#testimonios-area .flex-direction-nav{margin:0;padding:0;list-style:none;background:0;position:absolute;top:45%;width:100%;left:0;height:2rem}
#testimonios-area .flex-direction-nav a{width:2rem;height:2rem;overflow:hidden;text-indent:-999px;display:block;position:absolute;top:0}
#testimonios-area .flex-direction-nav a.flex-prev{left:1em;background:url(../img/arrow-left.svg) left center no-repeat}
#testimonios-area .flex-direction-nav a.flex-next{right:1em;background:url(../img/arrow-right.svg) right center no-repeat}
.testimonio{padding:0}
/*.testimonio::before{content:"\201C";display:block;text-align:center;font-size:5em;font-family:Georgia,'Times new roman',serif;opacity:.3;line-height:1em;margin-bottom:-.5em}*/
.testimonio blockquote{color:#fff}
.testimonio cite{max-width:22rem;margin:0 auto;display:block;text-align:left;font-size:.75em;line-height:1.3em;font-style:normal;}
.testimonio cite strong{display:block;padding-top:.5em}
.testimonio cite img{-webkit-border-radius:10em;-moz-border-radius:10em;-ms-border-radius:10em;-o-border-radius:10em;border-radius:10em;border:solid .125rem white}



input,textarea{background:#fff;border:.0625rem solid #d9d9e2; margin:0.5rem 0 !important; padding:1em;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;max-width:100%;color:#7e89a3;display:block;width:100%;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;-ms-border-radius:.3rem;-o-border-radius:.3rem;border-radius:.3rem;background:#f6f6f8;margin-bottom:1em}
input:focus,textarea:focus{border-color:#50c5ab;outline:0;background:#fff}
textarea{width:100%}
input[type="submit"],input[type="button"]{background:#e99935;border:0;color:#fff;display:inline-block;width:auto;line-height:1.5em}

.btn{padding:.5em 1.5em; background:#e99935; font-family: Dosis, Arial; box-shadow:inset 0 -12px 16px rgba(204,95,66,.59); -webkit-border-radius:10em;-moz-border-radius:10em;-ms-border-radius:10em;-o-border-radius:10em;border-radius:10em;display:inline-block;color:#fff;text-transform: uppercase;
	&:hover{background:#ea5932; text-decoration:none;
	}
	&.btn-light{background:#f1f2f3; border:solid .0625rem #d9d9e2; box-shadow:none; color:#7e89a3;
		&:hover{background:#ea5932; color:#FFF;
		}
	}
}


.alerta{background:#fffaf9; color:$color-titulos; font-size: 1.2rem; padding:1em 2em; -webkit-border-radius:.5em; -moz-border-radius:.5em; -ms-border-radius:.5em; -o-border-radius:.5em; border-radius:.5em; border:solid .0625rem #ff6347; margin-bottom:1em; text-align: center;}

.page-header{
	background:#d1dce6;
	padding:3rem 0 1.5rem;
	text-align:center;
	
	h1 {
		color: $color-titulos;
		font: 2rem/2.1rem Dosis, Arial;
		margin:0 0 .5em 0
		}
	p {
		color: #333;
		font-size:1.2em;
		line-height:1.5em
		}
}


.container.page-content {
	max-width:46.25rem;

	h2 { 
		background: #f6f6f6;
    	border-radius: 8rem;
    	color: $color-amar;
    	display: block;
    	font: 1.6rem/2rem Dosis,Arial;
    	margin: 1rem 0 1rem -0.8rem;
    	padding: 0.3rem 1rem;
	}
	p { margin-bottom: 2rem;}
}

.portafolio-resumen { padding-bottom: 2.5rem; text-align: center;}

.container.page-content,.container.list-content{margin-top:4em;margin-bottom:4em}
#hero-container {background:#f6f6f8;border-bottom:solid .0625rem #d9d9e2;border-top:solid .0625rem #d9d9e2;padding:5em 0 8em 0;position:relative}
#hero {padding-right:40%; width: 95%;}
#hero .dispositivos{background:url(../img/home-dispositivos.png) left center no-repeat;position:absolute;right:0;top:0;width:55%;height:100%}
#hero .dispositivos img{display:none}
#hero h2{color:#7e89a3;font-size:2.5em;text-transform:none;margin:0}
#hero p{margin:1em 0}


.servicio-resumen { 
	text-align:center; 
	border-right: 1px dashed #ddd;
    padding-right: 2.3rem;
	.icono { display:block; 
		.icono-servicio{ margin:0 auto ;
		}
	}
	h2 { color:$color-titulos; font:normal 1.4rem 'Dosis',sans-serif; margin:1rem 0; 
	}
	p {margin-top: 0.5rem;}
	&:last-child {border-right:none;}
}


#servicios-home{padding:4em 0}

figure.icono-servicio { 	
	color: $color-iconos;
    font-size: 4rem;
	width:7rem;
	height:7rem;
	line-height:7rem;
	-webkit-border-radius:10rem;
	-moz-border-radius:10rem;
	-ms-border-radius:10rem;
	-o-border-radius:10rem;
	border-radius:10rem;
	background:#f6f6f8;
	border:solid .0625rem #d9d9e2;
	text-align:center;
	img{ vertical-align:middle;
	}
	/*i { background: #FFF;}*/
}


.portafolio-resumen {
	text-align:center;

	h2 {margin:1em 0 .5em 0;
		a { color:$color-titulos; 
		text-decoration: none;
		display: block;
	    font: 1.6rem Dosis,Arial;
	    margin: 0 0 1rem -0.8rem;
	    padding: 0.3rem 1rem;		
		&:hover { 
			background: #f6f6f6;
    		border-radius: 8rem;
			color: $color-subtitulos; 
		}
	}
	}
	p {margin:0 0 1em 0}
}



.portafolio-detalle {
	.page-header { padding:3em 0 18em 0; margin-bottom:-15em; }
	.imagen-destacada { margin-bottom:1.5em; text-align: center;}
	.container.page-content{ text-align:center; margin-top:0;
		ul { margin: 0; padding: 0;
		&.prod-thumbs li { display: inline-block; padding: 0.5rem 1.3rem 2rem 0; width: 31%;
			h3 { font: 1.3rem Dosis, Arial; color:$color-titulos; margin-bottom: 0.5rem; }
			}
		}	
	}
}

article.portafolio-resumen img { /*margin-bottom:0.5rem;*/ width:60%}

.intro_inf {  
	background:rgba(0,0,0,.5); 
	display: none;
	padding: 1.4rem; 
	width:100%;
	text-align: center;
	z-index: 80;
	p {
		font:1.8rem/2.2rem Dosis, Arial; margin-bottom:1.5rem; 
	}
}


.contactos { 
  line-height: 1.8rem;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2rem;
  	p { padding-bottom: 1rem important;
  		margin-bottom: 0.5rem important;
  	strong {color:#ea5932;
  		text-transform: uppercase;
  	}
  }
}


/* RESPONSIVE */
/* Media Query 476px */
@media only screen and (max-width: 29.8rem){
	.alignleft,.alignright{ 
		float:none;
		display:block;
		margin:25px auto;
		max-width:100%;width:auto;
		}
	.cols .col3,.cols .col4,.cols .col3x2{
		float:none;
		margin-right:0;
		width:100%
	}
}

/* Media Query 480px */
@media only screen and (max-width: 30rem){
	#testimonios-area .container{ padding:0 2em}
	.testimonio cite{text-align:center}
	.testimonio cite img{float:none;margin:0 auto}
}


/* Media Query 530px */
@media only screen and (max-width: 33.125rem){
	.detalle-servicio { 
		display:block; padding: 0.8rem; 

		.icono-servicio{margin:0 auto 1.5rem auto }
		.icono {display:block; text-align:center; width:100% }
		.text {display:block; width:100% }
	}
	.servicio-resumen { border:none; padding: 0 0.5rem; }

	.intro_inf { padding: 1rem;
		p { font: 1.5rem/1.8rem Dosis,Arial; margin-bottom:1rem;  }
	}
}


/* Media Query 570px */
@media only screen and (max-width: 35.6rem){
	body{ font-size:16px;font-size:1rem;line-height:1.3em}
	p{margin:1.5em 0}
	blockquote{font-size:1.2em;padding:1.3em 0}
	blockquote .alignleft{float:left}

	.btn {font-size: 0.8rem; padding: 0.1rem 1rem;}

	.portafolio-resumen h2 a { font-size: 1.3rem; }

	figure.icono-servicio {
		font-size: 3rem;
    	height: 6rem;
    	width: 6rem;
    	line-height: 6rem;
	}
}

/* Media Query 720px */
@media only screen and (max-width: 45rem){
	#testimonios-area .container{ padding:0 3em}
}


/* Media Query 730px */
@media only screen and (max-width: 45.625rem){
	#hero{ padding-right:0 }
	#hero .dispositivos{background:0;position:static;width:100%;height:auto }
	#hero .dispositivos img{display:block;margin:0 auto 1em auto }

}

/* Media Query 740px */
@media only screen and (max-width: 46.25rem){#main-header{ display:block}
#main-header .menu-trigger{color:$color-iconos; display:block;float:right; padding:1rem; font-size: 2rem; cursor:pointer;width:20%;text-align:right}
.logo-header{width:80%;float:left;display:block;text-align:left}
.logo-header .slogan{text-align:left}
#main-menu{width:100%;clear:both;text-align:center;background:#201f1f;border:solid .0625rem #383636;padding:.5em;margin-bottom:2em}
#main-menu.open{display:block}
#main-menu.closed{display:none}

#main-menu ul li {display:block;width:100%;
	a{padding:.5em 1em}
	a:hover{background:#383636}
	&.featured a{background:0;color:#7e89a3}
	&.featured a:hover{background:#d9d9e2}
	}

}

/* Media Query 850px */
@media only screen and (max-width: 53.125rem){
	.logo-header{ width:35%}

	#main-menu {
		width:100%;
		
		ul li a {
			padding:.5em 1em;
			}
		}
}

/* Media Query 900px */
@media only screen and (max-width: 56.25rem){
	#bottom-footer{ 
		display:block; 
		padding:1rem 0.5rem;
	}
	#bottom-footer .copyright,#bottom-footer #footer-menu,#bottom-footer .planb{
		display:block;
		width:100%;
		padding:.5em 0; 
	}

}


/* Media Query 980px */
@media only screen and (max-width: 61.25rem) {
	#hero{ padding-right:50%; width:95%; }
	#hero .dispositivos{width:40% }


}


/* Media Query 1284px */
@media only screen and (max-width: 80.25rem) {
	#hero{ padding-right:40%; width:95%; }
	#hero .dispositivos{width:40% }

	.flexslider .intro,#footer-menu {display: none;}
	.servicio-resumen { border:none; }

	.intro_inf { display: block; }
}


