/* Estilos generales*/
@import "_variables.scss";
@import "_general.scss";
@import "_mixin.scss";


.fl{float:left}
.fr{float:right}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.cf{*zoom:1}
.cols{text-align:left}
.cols .col2{float:left;width:48%;margin-right:4%;margin-bottom:2em}
.cols .col2:nth-child(2n){margin-right:0}
.cols .col2:nth-child(2n+3){clear:left}

.cols .col3{float:left;width:31.5%;margin-right:2%;margin-bottom:2em}
.cols .col3:nth-child(3n){margin-right:0}
.cols .col3:nth-child(3n+4){clear:left}
.cols .col3x2{float:right;width:65%;clear:right;margin-bottom:2em}

.cols .col4{float:left;width:23%; margin:0 1% 2em}
.cols .col4:nth-child(4n){margin-right:0}
.cols .col4:nth-child(4n+5){clear:left}

.cols:before,.cols:after{content:" ";display:table}
.cols:after{clear:both}
.cols{*zoom:1}
.alignleft{float:left;margin:0 1em .5em 0;max-width:50%}
.alignright{float:right;margin:0 0 .5em 1em;max-width:50%}
.aligncenter{display:block;margin:1.5em auto;}


.detalle-servicio{ 
	display:table; 
	margin-bottom:0.5em;
	h5 { color: $azul; text-transform: uppercase; font-style: normal; }
	.text { 
		display:table-cell; 
		vertical-align:middle; 
	}

	.foto { margin: 1rem; 
		img { border-radius: 50%;
			border: 1px solid #ddd;
			max-width: none;
			padding: 2px;
		}
	}

	blockquote {
		background: $grisfondo;
		border-radius: 1rem;
		color: $gris;
		margin: 1.5rem 0;
		padding: 1rem;
	}

	ul { margin: 0; padding: 0;
		&.asist li { list-style-type: square; padding-bottom: 0.3rem;}
		li { list-style: none; list-style-position: inside; padding-bottom:1rem; }
	}

	&.aviso {     
		border: 1px dashed #CCC;
		/*background: $grisfondo;*/
		width: 100%;
		padding: 2rem;
		border-radius: 1rem;
	}

	.icono { 
		width:12rem; 
		display:table-cell; 
		vertical-align:top; 
		.icono-servicio { margin: 1rem 40px; }
		ul { margin: 0; 
		padding: 0;
			li { 
				list-style: square; 
				margin-bottom:1rem; 
			}
		}
	}
}


.container{ width:100%;max-width:75rem;margin-left:auto;margin-right:auto}

#main-header { 
	background:#fcfcfc url(../img/bg_top.png) repeat-x top center ; 
	border-bottom: 1px solid rgba(216,216,216,.8);
	box-shadow:-9px -7px 8px 7px rgba(2,2,2,.3);
	display:table; 
	position:fixed; 
	top:0; 
	width: 100%; 
	z-index: 100; 
	&.large { height: 180px; }
	&.small { height: 100px; margin-top: -30px; }
	.header-cont { box-sizing:border-box; margin:auto; max-width: 75rem; padding: 0 1rem; 
	}
}




#content-area {clear:both; margin-top:5rem; }

#main-header .menu-trigger{ display:none }
.logo-header{ 
	background: $blanco url(../img/bk_logo.png) no-repeat bottom center; 
	display:table-cell; 
	float: left;
	.logo {margin:0; display:block; padding:0.5rem 0.7rem 1rem 0.7rem;
		a { display: block;
			img { width: 100%; }
		}
	 }
	.slogan{ display:none; font-size:.7em;text-align:center;text-transform:uppercase;line-height:1.2em;
	}
	&:hover{text-decoration:none;
	}
}

.small .logo-header {
    background: none;
    margin-top: 2.3em;
    .logo {
    	img { 
    		padding: 0;
    		width: 120px;
    	}
    }
}


/* Redes */
.redes {
	background: $verde; 
	border: 1px solid RGBA(255,255,255,0.5);
	border-top: 0;
	color:$blanco; 
	float: right;
    border-radius: 0 0 0.6em 0.6em;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2.2em;
    font: 1.2rem Dosis, Arial; text-transform: uppercase;
    strong { font-size: 1.5rem; 
    }
    i { font-size: 2rem; margin: 0 1rem;}
}

.small .redes {
    margin-bottom: 0.7rem;
    margin-top: 25px;
}


header, .logo-header, .redes, img {
			transition: all .5s;
			-moz-transition: all .5s; /* Firefox 4 */
			-webkit-transition: all .5s; /* Safari and Chrome */
			-o-transition: all .5s; /* Opera */
		}



/* Menu */
#main-menu {display:table-cell; 
	width:78%; 
	text-align:right; 
	vertical-align:middle; 
	line-height:1.3em;
	float: right;
	ul {margin:0;padding:0;list-style:none;background:0;
		li{ display:inline-block; 
			font: 1.1rem Dosis, Arial;
			margin: 0 0.3rem; 
			text-transform: uppercase;
			.featured a {
				background:#50c5ab;
				color:#fff;
				&:hover{background:#329780;
				}
			}
		}
		li a { color:$gris; 
			padding:.5em 0.8em; 
			background:transparent;
			-webkit-border-radius:3em;
			-moz-border-radius:3em; 
			-ms-border-radius:3em;
			-o-border-radius:3em; 
			border-radius:3em; 
			display:block;
			&:hover, &.active { 
				background:$verde; 
				color:$blanco; 
				text-decoration:none;
			}
		}
	}
}

#main-footer { 
	border-top:solid 10px #727c88; 
	.footer-call-to-action{
		text-align:center; 
		background:#3c4a5b; 
		color:$blanco; 
		padding:1rem 0.5rem; 
		overflow: hidden;

		.contact { text-align:left; margin:auto; max-width:75rem; overflow: hidden; line-height: 1.5rem;
			a { color: $blanco; 
				&:hover,&:active  {
					color: $verde;
				}
			}
			.footer-menu {
				background: url(../img/ico_footer.png) center left no-repeat;
				overflow: hidden;
				width: 40%;
				float: left;
				margin-right: 1rem;
				border-right: 1px solid #727c88;
				ul {
					margin: 0 0 0 35%;
					li { 
						font-size: 0.8rem;
						text-transform:uppercase; 
						margin-bottom: 0.3rem;
						list-style: none;
						list-style-type: square;
					}
				}
			}
			.dir {
				float: left;
				margin-left: 1rem;
				width: 55%;
			}
		}
	}
}

#bottom-footer { display:table; }
#bottom-footer .copyright,#bottom-footer .planb{display:table-cell;width:50%;padding:1.5em 0}
#bottom-footer .planb { 
	color:$gris; 
	text-align: right; 
	vertical-align: top;
	a { display: block;
		padding-left: 0.4rem;
		float: right;
	}
}



.flexslider {
	position: relative;
	.intro { 
		background:rgba(0,0,0,.6); 
		padding: 1rem 1.2rem; 
		width:30%;
		position: absolute;
		right: 50%;
		bottom: 10%;
		text-align: center;
		z-index: 80;
		p {
			font:2.1rem/2.2rem Dosis, Arial; 
		}
		strong {
			display: block;
			font-size: 2rem; 
			text-transform: uppercase;
			line-height: 3rem;
		}
	}
}

.intro_inf { display: none;}

.container-live {overflow: hidden; line-height: 0; border-bottom:1px solid #999; }


#testimonios-area{background:$azul; color:#fff; /*padding:4em 0 4em 0;*/position:relative}
#testimonios-area .container{padding:0 6em}
#testimonios-area .flex-direction-nav{margin:0;padding:0;list-style:none;background:0;position:absolute;top:45%;width:100%;left:0;height:2rem}
#testimonios-area .flex-direction-nav a{ 
	width:2rem;
	height:2rem;
	overflow:hidden;
	text-indent:-999px;
	display:block;
	position:absolute;top:0;
	padding: 1.5rem;

	&.flex-prev{
		background:#000 url(../img/arrow-left.svg) center no-repeat;
		left: 0;
		opacity: 0.2;
		&:hover {
			opacity: 0.8;
		}
	}
	&.flex-next{
		background:#000 url(../img/arrow-right.svg) center no-repeat;
		right: 0;
		opacity: 0.2;
		&:hover {
			opacity: 0.8;
		}
	}

}
.testimonio{padding:0}
/*.testimonio::before{content:"\201C";display:block;text-align:center;font-size:5em;font-family:Georgia,'Times new roman',serif;opacity:.3;line-height:1em;margin-bottom:-.5em}*/
.testimonio blockquote{color:#fff}
.testimonio cite{max-width:22rem;margin:0 auto;display:block;text-align:left;font-size:.75em;line-height:1.3em;font-style:normal;}
.testimonio cite strong{display:block;padding-top:.5em}
.testimonio cite img{-webkit-border-radius:10em;-moz-border-radius:10em;-ms-border-radius:10em;-o-border-radius:10em;border-radius:10em;border:solid .125rem white}



input,textarea{background:#fff;border:.0625rem solid #d9d9e2; margin:0.5rem 0 !important; padding:1em;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;max-width:100%;color:#7e89a3;display:block;width:100%;-webkit-border-radius:.3rem;-moz-border-radius:.3rem;-ms-border-radius:.3rem;-o-border-radius:.3rem;border-radius:.3rem;background:#f6f6f8;margin-bottom:1em}
input:focus,textarea:focus{border-color:#50c5ab;outline:0;background:#fff}
textarea{width:100%}
input[type="submit"],input[type="button"]{border:0;color:#fff;display:inline-block;float:right;width:auto;line-height:1.5em}

.btn{
	padding:.5em 1.5em; 
	background:$verde; 
	font-family: Dosis, Arial;
	font-weight: 500;
	box-shadow:inset 0 -12px 16px rgba(0,0,0,.2); 
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-ms-border-radius:2em;
	-o-border-radius:2em;
	border-radius:2em;
	display:inline-block;
	color:$blanco;
	text-transform: uppercase;
	&:hover{background:#d3aa07; text-decoration:none;
	}
	&.btn-light{background:#f1f2f3; border:solid .0625rem #d9d9e2; box-shadow:none; color:#7e89a3;
		&:hover{background:$azul; color:$blanco;
		}
	}
}


.alerta{background:#fffaf9; color:$color-titulos; font-size: 1.2rem; padding:1em 2em; -webkit-border-radius:.5em; -moz-border-radius:.5em; -ms-border-radius:.5em; -o-border-radius:.5em; border-radius:.5em; border:solid .0625rem #ff6347; margin-bottom:1em; text-align: center;}

.page-header{
	background:$grisfondo;
	padding:9rem 0 1rem;
	text-align:center;
	
	h1 {
		color: $azul;
		font: 2.3rem/2.1rem Dosis, Arial;
		margin:0 0 .5em 0;
			i {
				margin-right: 1rem;
				font-size: 2.5rem;
			}
		}
	p {
		color: #333;
		font-size:1.2em;
		line-height:1.5em
		}
}

/* Ventana modal */

.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
  h5 { margin-bottom: 0.5rem; }
  .cerrar { 
  	background:$color-titulos; 
  	border-radius: 50%; 
  	display: block;
  	color: $blanco; 
  	font-weight: bold;
  	float: right;
  	padding: 0.2rem 0.6rem; 
  }
  .modal-contenido {
	  background-color:$blanco;
	  width:600px;
	  height: 500px;
	  border: 5px solid #FFF;
	  border-radius: 1rem;
	  overflow-y: scroll;
	  padding: 0.5rem 1rem;
	  margin: 12% auto;
	  position: relative;
	  ul { margin:0 0 1.5rem 0;
	  	li {
		    list-style-type: square;
		    padding: 0.15rem 0;
		}
	  }
	}
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}
/* Fin ventana modal */


.container.page-content {
	max-width:46.25rem;

	h2 { 
		background: #f6f6f6;
    	border-radius: 8rem;
    	color: $verde;
    	display: block;
    	font: 1.8rem/2rem Dosis,Arial;
    	font-weight: 600;
    	margin: 1rem 0 0.6rem -0.8rem;
    	padding: 0.2rem 1rem;
	}

	h3 { 
		/*background: #f6f6f6;*/
    	border-radius: 8rem;
    	color: $verde;
    	display: block;
    	font: 1.6rem/2rem Dosis,Arial;
    	font-weight: 500;
    	margin: 0.5rem 0 0.3rem -0.8rem;
    	padding: 0 0 0.3rem 1rem;
    	text-transform: uppercase;
	}

	p { font-size:1.1rem; 
		line-height: 1.8rem;
		margin-bottom: 2rem;
	}
}

.portafolio-resumen { padding-bottom: 2.5rem; text-align: center;}

.container.page-content,.container.list-content{margin-top:2.5em; margin-bottom:4em; overflow: hidden; }
#hero-container {background:#f6f6f8;border-bottom:solid .0625rem #d9d9e2;border-top:solid .0625rem #d9d9e2;padding:5em 0 8em 0;position:relative}
#hero {padding-right:40%; width: 95%;}
#hero .dispositivos{background:url(../img/home-dispositivos.png) left center no-repeat;position:absolute;right:0;top:0;width:55%;height:100%}
#hero .dispositivos img{display:none}
#hero h2{color:#7e89a3;font-size:2.5em;text-transform:none;margin:0}
#hero p{margin:1em 0}

.terminos {
	text-align: justify;
}

.servicio-resumen { 
	text-align:center; 
    padding-right: 1rem;
	.icono { display:block; 
		.icono-servicio{ margin:0 auto ;
		}
	}
	h2 { color:$verde; font:normal 1.4rem 'Dosis',sans-serif; margin:1rem 0; 
	}
	p {margin-top: 0.5rem;}
	&:last-child {border-right:none;}
}


#servicios-home {
	padding:0;

	.text-center {
		padding: 2rem;
		p {
			background: $grisfondo;
			border-radius: 1rem;
			color: $azul;
			font: 1.8rem 'Dosis',sans-serif;
			padding: 1rem;
			text-transform: uppercase;
			text-align: center;
			strong {
				font-size: 2.05rem;
			}
		}
	}

	h2 {
		text-transform: uppercase;
	}
	a {
		color: $gris;
		&:hover {
			color: $azul;
			text-decoration: none;
		}
		img {
			border:1px solid #ccc;
			&:hover {
			border-color: #FFF;
			opacity: 0.7;
			box-shadow: 0px 0px 6px 3px $azul
			}
		}
	}
}


#widget-home {
	padding-bottom: 1rem;
	h2 {
		background: $azul;
		color: $blanco;
		font: 1.5rem Dosis, Arial;
		padding: 0.2rem 1rem;
	}
	h3 {
		color: $verde;
		margin-bottom: 0.5rem;
	}

	article { text-align: justify;}

	ul { margin:0.8rem 0 1.5rem; }

	p { font-size: 1.1rem; line-height: 1.7rem; 
		&:last-child { border-bottom: 1px solid #CCC; padding-bottom: 1.2rem; }

	}

	.consejos {
		li {
			margin: 0 0 1.5rem 0;
			border-bottom: 1px solid #CCC;
			padding-bottom: 1rem;
			list-style-image: url(../img/bull_com.png);
			p { border-bottom:0 }
		}
	}
}


figure.icono-servicio { 	
	color: $azul;
    font-size: 3.5rem;
	width:7rem;
	height:7rem;
	line-height:7rem;
	-webkit-border-radius:10rem;
	-moz-border-radius:10rem;
	-ms-border-radius:10rem;
	-o-border-radius:10rem;
	border-radius:10rem;
	background:$grisfondo;
	text-align:center;
	img{ vertical-align:middle;
	}
	/*i { background: #FFF;}*/
}


.portafolio-resumen {
	text-align:center;

	h2 {margin:1em 0 .5em 0;
		a { color:$verde; 
		text-decoration: none;
		display: block;
	    font: 1.6rem Dosis,Arial;
	    margin: 0 0 1rem -0.8rem;
	    padding: 0.3rem 1rem;		
		&:hover { 
			background: #f6f6f6;
    		border-radius: 8rem;
			color: $color-subtitulos; 
		}
	}
	}
	p {
		margin:0 0 1em 0; 
		font-size: 1.2rem; 
		line-height: 1.7rem;
	}
}



.portafolio-detalle {
	/*.page-header { padding:3em 0 18em 0; margin-bottom:-15em; }*/
	.imagen-destacada { margin-bottom:1.5em; text-align: center; }
	.imagen-sec { width:100%; max-width: 250px; clear: both; display: block; margin: 0.1rem auto; }
	.container.page-content{ text-align:center; margin-top:0;
		h3 { background: #f6f6f6; border-radius: 8rem; font:1.4rem Dosis, Arial; font-weight: 600; color:$verde; margin-bottom: 0.5rem; }
		h4 { color: $azul; font-size:1.5rem; text-transform: uppercase; }
		ul { margin: 0; padding: 0;
		&.prod-thumbs li { display:inline-block; padding: 0.5rem 2.5rem 3rem 0; text-align: left; vertical-align: top; width:48%;
			img { border-radius:1rem;}
			p { margin-bottom: 0.5rem;}
			ul { margin: 0; padding: 0; 
				li  {display: list-item; margin: 0; padding: 0; width: 100%; list-style-position: inside; }
				}
			}
		}	
	}
}

article.portafolio-resumen img { /*margin-bottom:0.5rem;*/ width:60%}

.intro_inf {  
	background:rgba(0,0,0,.2); 
	display: none;
	padding: 1.4rem; 
	width:100%;
	text-align: center;
	z-index: 80;
	p {
		font:1.8rem/2.2rem Dosis, Arial; margin-bottom:1.5rem; 
	}
}


.contactos { 
  line-height: 1.8rem;
  /*border-left: 1px dashed #ccc;
  padding-left: 2rem;*/
  	p { padding-bottom: 1rem important;
  		margin-bottom: 0.5rem important;
  	strong {
  		color: $verde;
  	}
  }
}


/* RESPONSIVE */
/* Media Query 476px */
@media only screen and (max-width: 29.8rem){
	.alignleft,.alignright{ 
		float:none;
		display:block;
		margin:25px auto;
		max-width:100%;width:auto;
		}
	.cols .col3,.cols .col4,.cols .col3x2{
		float:none;
		margin-right:0;
		width:100%
	}

	.page-header {padding-top: 2rem;}

}

/* Media Query 480px */
@media only screen and (max-width: 30rem){
	#testimonios-area .container{ padding:0 2em}
	.testimonio cite{text-align:center}
	.testimonio cite img{float:none;margin:0 auto}

	#content-area {clear:both; margin-top:8.5rem; }

	.small .redes, .large .redes {
		p { font-size: 0.8rem !important;}
		i,strong {font-size: 1.1rem !important;}
		i { margin: 0 0.5rem;}
		span {display: none;}
	}
}


/* Media Query 530px */
@media only screen and (max-width: 33.125rem){
	.detalle-servicio { 
		display:block; padding: 0.8rem; 

		.icono-servicio{margin:0 auto 1.5rem auto }
		.icono {display:block; text-align:center; width:100% }
		.text {display:block; width:100% }

	}
	.servicio-resumen { border:none; padding: 0 0.5rem; }

	.intro_inf { padding: 1rem;
		p { font: 1.5rem/1.8rem Dosis,Arial; margin-bottom:1rem;  }
	}
}


/* Media Query 570px */
@media only screen and (max-width: 35.6rem){
	body{ font-size:16px;font-size:1rem;line-height:1.3em}
	p{margin:1.5em 0}
	blockquote{font-size:1.2em;padding:1.3em 0}
	blockquote .alignleft{float:left}

	.btn {font-size: 0.8rem; padding: 0.3rem 1rem;}

	.portafolio-resumen h2 a { font-size: 1.3rem; }

	figure.icono-servicio {
		font-size: 3rem;
    	height: 6rem;
    	width: 6rem;
    	line-height: 6rem;
	}

	.cols .col4{
		float:none;
		margin:0;
		width:100%
	}

	.modal .modal-contenido { margin-top: 150px; width: 94%; height:400px; }
}

/* Media Query 720px */
@media only screen and (max-width: 45rem){
	#testimonios-area .container{ padding:0 } 
}


/* Media Query 730px */
@media only screen and (max-width: 45.625rem){
	#hero{ padding-right:0 }
	#hero .dispositivos{background:0;position:static;width:100%;height:auto }
	#hero .dispositivos img{display:block;margin:0 auto 1em auto }

	#main-footer .footer-call-to-action .contact .footer-menu { width: 45% !important; }
	#main-footer .footer-call-to-action .contact .dir {width: 45% !important; }

}

/* Media Query 740px */
@media only screen and (max-width: 46.25rem){
	#widget-home article {
	box-sizing: border-box;
    padding: 1rem;
    width: 100%;
	}

	#main-footer .footer-call-to-action .contact .footer-menu { width: 35%; }
	#main-footer .footer-call-to-action .contact .dir {width: 60%; }
}

/* Media Query 850px */
@media only screen and (max-width: 53.125rem){
	#main-menu {
		width:100%;
		
		ul li a {
			padding:.5em 1em;
			}
		}

	#servicios-home .text-center p { font-size: 1.3rem;}
	#servicios-home .text-center p strong { font-size: 1.5rem;}

	.container {width: 96%}
}

/* Media Query 900px */
@media only screen and (max-width: 56.25rem){
	#bottom-footer{ 
		display:block; 
		padding:1rem 0.5rem;
	}
	#bottom-footer .copyright,#bottom-footer #footer-menu,#bottom-footer .planb{
		display:block;
		width:100%;
		padding:.5em 0; 
	}

	#main-footer .footer-call-to-action .contact .footer-menu { 
		background: none; 
		ul { margin: 0 0 0 2%; }
	}

}


/* Media Query 980px */
@media only screen and (max-width: 61.25rem) {
	#hero{ padding-right:50%; width:95%; }
	#hero .dispositivos{width:40% }

	#servicios-home a img { display: block; margin: auto;}

}


/* Media Query 1200px */
@media only screen and (max-width: 70rem) { 
#main-header{ display:block}
#main-header .menu-trigger{color:$color-iconos; display:block;float:right; margin-top:60px; padding:1rem; font-size: 2rem; cursor:pointer;width:20%;text-align:right}
#main-menu {box-shadow: -1px 7px 8px -4px #bbb; width:100%;clear:both;text-align:center;background:$grisfondo;border:solid .0625rem $blanco;padding:.5em; margin-bottom:2em; margin-top:16px; }
#main-menu.open{display:block}
#main-menu.closed{display:none}

.page-header {padding-top: 6rem;}

#main-menu ul li {display:block;width:100%;
	a{ color:$gris; padding:.5em 1em }
	a:hover{background:&verde;}
	&.featured a{background:0;color:#7e89a3}
	&.featured a:hover{background:#d9d9e2}
	}

	#main-header .header-cont {padding: 0;}
	#main-header.large, #main-header.small { height: 140px; margin-top:0; }
	.small .logo-header, .large .logo-header { width:120px; background: none; position: absolute; top:45px; left: 0.5rem; margin: 0;}
	.small .logo-header .logo, .large .logo-header .logo {padding: 0;
		img {width: 100%;}
	}
	.small .redes, .large .redes { width:100%; margin: 0; position:absolute; border-radius: 0; text-align: right;
		p { font-size: 1rem;}
		i,strong {font-size: 1.2rem;}
	}
}




/* Media Query 1200px */
@media only screen and (max-width: 75rem) {
	#main-menu {
		ul li:first-child {
			display:none;
		} 
	}



	/*#main-header.small, #main-header {
    height: 130px;
    margin-top: -30px;
	}*/
}



/* Media Query 1284px */
@media only screen and (max-width: 80.25rem) {
	#hero{ padding-right:40%; width:95%; }
	#hero .dispositivos{width:40% }

	.flexslider .intro,#footer-menu {display: none;}
	.servicio-resumen { border:none; }

	.intro_inf { display: block; }
}


